<div class="row" ng-if="isAdmin || redirect()">
    <div main-menu></div>
    <div>
        <table class="table-hover">
            <thead>
                <tr>
                    <th>
                        <h1>Project Name</h1>
                    </th>
                    <th>
                        <h1>#</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="curentProject in projects.Projects">
                    <td>
                        <h5>{{curentProject.Name}}</h5>
                    </td>
                    <td>
                        <a class="btn btn-success" ng-href="#/projects/{{curentProject.Id}}">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <ul class="pagination">
                <li ng-repeat="page in pages"><a href="#/projects" ng-click="getProjectByPage(15,  page)">{{page}}<span class="sr-only">(current)</span></a></li>
            </ul>
        </ul>
    </div>
</div>