<div ng-if="isAuthenticated || redirect()" class="row">
    <div main-menu></div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{project.ProjectKey}}
                    <div style="display: inline-block" project-leader ng-show="isTeamLeader || isAdmin"></div>
                </h3>
            </div>
            <div class="panel-body">
                <h2 class="text-center" ng-bind="project.Name"></h2>
                <hr />
                <h4 class="text-center">Description</h4>
                <div class="alert alert-info text-center" role="alert" style="overflow: auto">
                    <strong ng-bind="project.Description"></strong>
                </div>
                <hr />
                <h4 class="text-center">LeadId</h4>
                <div class="alert alert-success text-center" role="success">
                    <span>(current id: {{project.Lead.Id}})</span>
                    <strong ng-bind="project.Lead.Username"></strong>
                </div>
                <hr />
                <div class="alert alert-success" role="success">
                    <strong>Priorities:
                        <span ng-repeat="priority in project.Priorities"> {{priority.Name}},</span>
                    </strong>
                    <br />
                    <strong>Labels:
                        <span ng-repeat="label in project.Labels">{{label.Name}}, </span>
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Assignee</th>
                </tr>
                </thead>
                <tr ng-repeat="issue in issues | orderBy: '-DueDate' : reverse">
                    <td><a ng-href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.Description}}</td>
                    <td>{{issue.DueDate}}</td>
                    <td>{{issue.Assignee.Username}}</td>
                </tr>
            </table>
            <ul class="pagination">
                <ul class="pagination">
                    <li ng-repeat="page in pages" ><a href="#/" ng-click="getMyIssues(5,  page, 'DueDate desc')" value="{{page}}">{{page}}<span class="sr-only">(current)</span></a></li>
                </ul>
            </ul>
        </div>
    </div>
</div>