<div ng-if="isTeamLeader || isAdmin || redirect()" class="row">
    <div main-menu></div>
    <div class="row">
        <div class="col-md-6">
            <form name="AddIssueForm">
            <p>
                <label>Title</label>
                <input class="form-control" type="text" ng-model="issueToAdding.Title" required>
            </p>
            <p>
                <label>Description</label>
                <textarea class="form-control" type="text" ng-model="issueToAdding.Description" required></textarea>
            </p>
            <p>
                <label>Projects</label>
                <!--TODO to work with normal add issue-->
                <!--<select ng-options="project.Name for project in projectCurrent track by project.Id" ng-model="issue.Project"></select>-->
                <select class="form-control" ng-model="issueToAdding.Project" convert required>
                    <option value="{{projectCurrent}}">{{projectCurrent.Name}}</option>
                </select>
            </p>
            <p>
                <label>Priority</label>
                <select class="form-control" ng-model="issueToAdding.Priority" required>
                    <option ng-repeat="priority in projectCurrent.Priorities" value="{{priority}}">{{priority.Name}}</option>
                </select>
            </p>
            <p>
                <label>Label</label>
                <input class="form-control" list="labels-collection" ng-model="issueToAdding.Label"  autocomplete="on" required/>
                <datalist id="labels-collection">
                    <option ng-repeat="label in existingLabels" value="{{label.Name}}">{{label.Name}}</option>
                </datalist>
            </p>
            <p>
                <label>Assignee</label>
                <select class="form-control" ng-options="user.Username for user in dataUsers track by user.Id" ng-model="issueToAdding.Assignee" required></select>
            </p>
            <p>
                <label>DueDate</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input datetimepicker type='text' class="form-control" ng-model="issueToAdding.DueDate" value="{{issueToAdding.DueDate}}" required/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </p>
            <button ng-click="addIssue(issueToAdding)" ng-disabled="AddIssueForm.$invalid" class="btn btn-success">Add Issue</button>
        </form>
        </div>
    </div>
</div>
