<div class="row" ng-controller="UserController">
    <div class="col-sm-6">
        <form name="userFormRegister" novalidate>
            <fieldset>
                <legend>Register Form</legend>
                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : userFormRegister.emailRegister.$invalid && !userFormRegister.email.$pristine }">
                    <label>Email</label>
                    <input type="email" name="emailRegister" class="form-control" ng-model="user.email" required>
                    <p ng-show="userFormRegister.emailRegister.$invalid && !userFormRegister.emailRegister.$pristine" class="help-block">Enter a valid email.</p>
                </div>

                <!-- Password -->
                <div class="form-group" ng-class="{ 'has-error' : userFormRegister.password.$invalid && !userFormRegister.password.$pristine }">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="6" required>
                    <p ng-show="userFormRegister.password.$invalid && !userFormRegister.password.$pristine" class="help-block">Password is required.</p>
                </div>

                <!-- Confirm  Password-->
                <div class="form-group" ng-class="{ 'has-error' : userFormRegister.confirmPassword.$invalid && !userFormRegister.confirmPassword.$pristine }">
                    <label>Confirm  Password</label>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword" ng-minlength="6" required>
                    <p ng-show="userFormRegister.confirmPassword.$invalid && !userFormRegister.confirmPassword.$pristine" class="help-block">Confirm Password is required.</p>
                    <p ng-show="errorConfirmPassword" class="help-block">Confirm Password must be the same like password!</p>
                </div>

                <button ng-click="register(user)" class="btn btn-primary" ng-disabled="userFormRegister.$invalid">Register</button>
            </fieldset>
        </form>
    </div>
</div>