<div ng-if="isAuthenticated || redirect()" class="row">
    <div main-menu></div>
    <div class="row">
        <div class="col-md-6">
            <form name="userFormChangePassword">
                <fieldset>
                    <legend>Change Password</legend>
                    <!-- Password -->
                    <div class="form-group" ng-class="{ 'has-error' : userFormChangePassword.password.$invalid && !userFormChangePassword.password.$pristine }">
                        <label>Old Password</label>
                        <input type="password" name="password" class="form-control" ng-model="password.OldPassword" ng-minlength="6" required>
                        <p ng-show="userFormChangePassword.password.$invalid && !userFormChangePassword.password.$pristine" class="help-block">Password is required.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : userFormChangePassword.newPassword.$invalid && !userFormChangePassword.newPassword.$pristine }">
                        <label>New Password</label>
                        <input type="password" name="newPassword" class="form-control" ng-model="password.NewPassword  " ng-minlength="6" required>
                        <p ng-show="userFormChangePassword.newPassword.$invalid && !userFormChangePassword.newPassword.$pristine" class="help-block">New Password is required.</p>
                    </div>

                    <!-- Confirm  new Password-->
                    <div class="form-group" ng-class="{ 'has-error' : userFormRegister.confirmNewPassword.$invalid && !userFormRegister.confirmNewPassword.$pristine }">
                        <label>Confirm  New Password</label>
                        <input type="password" name="confirmNewPassword" class="form-control" ng-model="password.ConfirmPassword" ng-minlength="6" required>
                        <p ng-show="userFormRegister.confirmNewPassword.$invalid && !userFormRegister.confirmNewPassword.$pristine" class="help-block">Confirm New Password is required.</p>
                        <p ng-show="confirmNewPassword" class="help-block">Confirm New Password must be the same like new password!</p>
                    </div>

                    <button ng-click="changePassword(password)" class="btn btn-primary" ng-disabled="userFormChangePassword.$invalid">Change password</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>